# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [46]:
import pandas as pd
import numpy as np

# Seu código aqui
dados = [-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02]
alteracaodaTemperaturaGlobalSemIndex = pd.Series(dados)
alteracaodaTemperaturaGlobalSemIndex

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [38]:

# seu código aqui
indice =['1900','1920','1940','1960','1980','2000','2000']
dados = [-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02]
alteracaodaTemperaturaGlobal = pd.Series(data=dados, index=indice)
alteracaodaTemperaturaGlobal

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2000    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [58]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}
temperaturasSeries = pd.Series(dic_temperaturas)
temperaturasSeries

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [84]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
df = pd.DataFrame(arr, columns=['Column1', 'Column2', 'Column3'])
print(df)

       Column1     Column2     Column3
0   100.368368  115.814078   90.732097
1    86.829935   94.925360   95.437511
2   114.983838  102.347105  110.261602
3    87.903326   97.136636   96.812712
4   117.278367   76.991017   90.833514
5   104.530740  121.349538  100.606169
6   115.036193  102.721745  113.501211
7    99.120976   91.406883   93.196133
8    91.003099   97.870326  100.910717
9    89.010617   88.452248   81.399044
10  100.507631   84.974129  108.291705
11  121.666980   97.391752   96.775377
12   88.052165   88.041735  102.526670
13  114.461470   88.977904  109.149540
14   99.721844  115.778952   93.736138
15  126.444579   96.801069   90.221116
16  100.510991   92.587381  101.199788
17  108.726706   98.225896  109.968783
18  109.818310  102.347033   96.160637
19  109.264487   99.667173   90.387182

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [92]:
#seu código aqui
df.index = range(1,21)
df.columns = ['x1', 'x2', 'x3']
print(df)

            x1          x2          x3
1   100.368368  115.814078   90.732097
2    86.829935   94.925360   95.437511
3   114.983838  102.347105  110.261602
4    87.903326   97.136636   96.812712
5   117.278367   76.991017   90.833514
6   104.530740  121.349538  100.606169
7   115.036193  102.721745  113.501211
8    99.120976   91.406883   93.196133
9    91.003099   97.870326  100.910717
10   89.010617   88.452248   81.399044
11  100.507631   84.974129  108.291705
12  121.666980   97.391752   96.775377
13   88.052165   88.041735  102.526670
14  114.461470   88.977904  109.149540
15   99.721844  115.778952   93.736138
16  126.444579   96.801069   90.221116
17  100.510991   92.587381  101.199788
18  108.726706   98.225896  109.968783
19  109.818310  102.347033   96.160637
20  109.264487   99.667173   90.387182

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [98]:
# seu código aqui
df['Media'] = (df['x1'] + df['x2'] + df['x3']) / 3
print(df)

            x1          x2          x3       Media
1   100.368368  115.814078   90.732097  102.304847
2    86.829935   94.925360   95.437511   92.397602
3   114.983838  102.347105  110.261602  109.197515
4    87.903326   97.136636   96.812712   93.950891
5   117.278367   76.991017   90.833514   95.034299
6   104.530740  121.349538  100.606169  108.828816
7   115.036193  102.721745  113.501211  110.419717
8    99.120976   91.406883   93.196133   94.574664
9    91.003099   97.870326  100.910717   96.594714
10   89.010617   88.452248   81.399044   86.287303
11  100.507631   84.974129  108.291705   97.924488
12  121.666980   97.391752   96.775377  105.278036
13   88.052165   88.041735  102.526670   92.873523
14  114.461470   88.977904  109.149540  104.196305
15   99.721844  115.778952   93.736138  103.078978
16  126.444579   96.801069   90.221116  104.488921
17  100.510991   92.587381  101.199788   98.099387
18  108.726706   98.225896  109.968783  105.640462
19  109.818310  102.347033   96.160637  102.775327
20  109.264487   99.667173   90.387182   99.772947

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [104]:
# seu código aqui
df['log_med'] = np.log(df['Media'])
print(df)

            x1          x2          x3       Media   log_med
1   100.368368  115.814078   90.732097  102.304847  4.627957
2    86.829935   94.925360   95.437511   92.397602  4.526101
3   114.983838  102.347105  110.261602  109.197515  4.693158
4    87.903326   97.136636   96.812712   93.950891  4.542772
5   117.278367   76.991017   90.833514   95.034299  4.554238
6   104.530740  121.349538  100.606169  108.828816  4.689776
7   115.036193  102.721745  113.501211  110.419717  4.704289
8    99.120976   91.406883   93.196133   94.574664  4.549390
9    91.003099   97.870326  100.910717   96.594714  4.570524
10   89.010617   88.452248   81.399044   86.287303  4.457682
11  100.507631   84.974129  108.291705   97.924488  4.584197
12  121.666980   97.391752   96.775377  105.278036  4.656605
13   88.052165   88.041735  102.526670   92.873523  4.531239
14  114.461470   88.977904  109.149540  104.196305  4.646277
15   99.721844  115.778952   93.736138  103.078978  4.635495
16  126.444579   96.801069   90.221116  104.488921  4.649081
17  100.510991   92.587381  101.199788   98.099387  4.585981
18  108.726706   98.225896  109.968783  105.640462  4.660041
19  109.818310  102.347033   96.160637  102.775327  4.632545
20  109.264487   99.667173   90.387182   99.772947  4.602897